:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --background-color: #e5e5e5;
  --buton-hover-color: #188ce8;
  --background-button-color: #f5f4fa;
}
body {
  color: var(--primary-text-color);
  background-color: var(--background-color);
  font-family: roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.17;
}
/* Глобальный сброс стилей */
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.section {
  padding: 94px 0;
}

/* Точки списков */
.priorities-list,
.examples-list,
.team-list,
.hero-filter,
.portfolio-list,
.contacts,
.nav-list {
  list-style: none;
}

/* Подчёркивание */
.nav-logo,
.nav-logo-footer,
.nav-pages,
.link,
.tel,
.link-list,
.footer-link,
.footer-tel {
  text-decoration: none;
}

/* Контейнеры */
.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  width: 1200px;
}

/* Хедер */
.header {
  background-color: var(--primary-white-color);
}

.container.header {
  display: flex;
  border-bottom: 1px solid #ececec;
}

.nav {
  display: flex;
}

.nav-pages:hover {
  color: var(--accent-color);
}

.nav-pages:focus {
  color: var(--accent-color);
}

.nav-logo:hover {
  color: var(--accent-color);
}

.nav-logo:focus {
  color: var(--accent-color);
}

.link:hover {
  color: var(--accent-color);
}

.tel:hover {
  color: var(--accent-color);
}

.link:focus {
  color: var(--accent-color);
}

.tel:focus {
  color: var(--accent-color);
}

.nav-list {
  display: flex;
}

.nav-item {
  margin: 32px 0;
}

.nav-pages {
  margin-right: 50px;
  color: var(--title-text-color);
  letter-spacing: 0.02em;
  font-weight: 500;
}

.contacts {
  display: flex;
  margin-left: 281px;
}

.link,
.tel {
  display: inline-block;
  margin: 32px 0;
  color: var(--primary-text-color);
  letter-spacing: 0.02em;
  font-weight: 500;
}

.link {
  margin-right: 50px;
}

.nav-logo {
  margin-right: 90px;
}

.nav-logo,
.nav-logo-footer {
  display: inline-block;
  margin-top: 24px;
  margin-bottom: 25px;
  font-family: raleway;
  font-size: 26px;
  font-weight: 700;
  color: var(--accent-color);
}

.nav-logo-half {
  color: var(--title-text-color);
}

/* Герой */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: #2f303a;
}

/* .container.hero-container {
  padding-top: 106px;
  padding-bottom: 186px;
} */

.hero-title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  font-size: 44px;
  color: var(--primary-white-color);
  line-height: 1.36;
  font-weight: 900;
  letter-spacing: 0.06em;
}

.hero-business-button {
  display: inline-block;
  min-width: 200px;
  padding: 10px 32px;
  /* margin-bottom: 210px; */
  border: 0;
  border-radius: 4px;
  color: var(--primary-white-color);
  font-size: 16px;
  background-color: var(--accent-color);
  letter-spacing: 0.06em;
  line-height: 1.88;
  font-weight: 700;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.hero-business-button:hover {
  background-color: var(--buton-hover-color);
}

.hero-business-button:focus {
  color: var(--primary-white-color);
}
/* Наши приоритеты */
.priorities,
.examples {
  /* background-color: var(--background-color); */
}

.priorities {
  padding-top: 94px;
  padding-bottom: 0;
}

.priorities-container {
  display: flex;
}

.priorities-list {
  display: flex;
}

.title-prioritietes {
  display: none;
}

.title {
  margin-bottom: 50px;
  padding-left: 397px;
  padding-right: 397px;
  font-size: 36px;
  color: var(--title-text-color);
  font-weight: 700;
}

.subtitle {
  display: flex;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-size: 14px;
  font-weight: 700;
}

.priorities-item {
  margin-right: 30px;
}
.priorities-item:last-child {
  margin: 0;
}

.title-descripction {
  display: flex;
  max-width: 270px;
  line-height: 1.71;
}

/* Наши работы */

/* .examples {
  padding-top: 94px;
  padding-bottom: 94px;
} */

.examples-list {
  display: flex;
}

.examples-item {
  margin-right: 30px;
  justify-items: center;
}

.examples-item:last-child {
  margin: 0%;
}

/* Наша команда */
.team {
  /* padding-top: 94px; */
  background-color: var(--background-button-color);
}
.title {
}
/* .team-foto {
  margin-bottom: 30px;
} */
.team-item {
}
.team-list {
  display: flex;
}
.team-item {
  margin-right: 30px;
}

.team-item:last-child {
  margin: 0;
}

.team-container {
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  background-color: var(--primary-white-color);
}

.team-name {
  text-align: center;
  margin-bottom: 10px;
  font-size: 16px;
  min-width: 137px;
  color: var(--title-text-color);
  font-weight: 500;
}
.team-name-proffesion {
  text-align: center;
  font-size: 16px;
}

/* Футер */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  font-style: normal;
  background-color: #2f303a;
}
.nav-logo-footer {
  /* margin-top: 60px; */
  margin-bottom: 20px;
}
.nav-logo-half-footer {
  color: var(--primary-white-color);
}
.address {
  color: var(--primary-white-color);
  margin-bottom: 9px;
  line-height: 1.71;
}
.contacts-footer {
  list-style: none;
}
.footer-link,
.footer-tel {
  display: inline-block;
  margin-bottom: 9px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}
/* .footer-tel {
  margin-bottom: 60px;
} */
.footer-link:hover {
  color: var(--accent-color);
}
.footer-link:focus {
  color: var(--accent-color);
}
.footer-tel:hover {
  color: var(--accent-color);
}
.footer-tel:focus {
  color: var(--accent-color);
}

/* Портфолио */
/* Хедер */

/* Герой */
.hero-portfolio {
  text-align: center;
  /* background-color: var(--background-color); */
}

.hero-filter {
  margin-bottom: 50px;
}
.hero-item {
  display: inline-block;
  margin-right: 8px;
}

.hero-item:last-child {
  max-resolution: 0;
}

.hero-filter-button {
  min-width: 73px;
  padding: 6px 22px;
  border-radius: 4px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  color: var(--title-text-color);
  background-color: var(--background-button-color);
  cursor: pointer;
  letter-spacing: 0.03em;
}

.hero-filter-button:active {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.hero-filter-button:hover {
  color: var(--accent-color);
}

.hero-filter-button:focus {
  color: var(--accent-color);
}

.hero-title.portfolio {
  display: none;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.portfolio-item {
  display: flex;
  margin: 15px;
  width: 370px;
}

/* .portfolio-item:nth-child(1) {
  margin-left: 0;
} */
.link-list-img {
  display: inline-block;
}

.name-container {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  background-color: var(--primary-white-color);
}

.name-project {
  margin-bottom: 4px;
  text-align: left;
  color: var(--title-text-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}
.name-filter {
  text-align: left;
  font-size: 16px;
  line-height: 1.88em;
  color: var(--primary-text-color);
}
.current {
  color: var(--accent-color);
}
/* Футер */
.footer.portfolio {
  /* margin-top: 94px; */
}
.footter-address {
  font-style: normal;
}
