:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --background-color: #e5e5e5;
  --buton-hover-color: #188ce8;
  --background-button-color: #f5f4fa;
  --background-social-links-color: #afb1b8;
}
body {
  color: var(--primary-text-color);
  /* background-color: var(--background-color); */
  font-family: roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.17;
}
/* Глобальный сброс стилей */
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.section {
  padding: 94px 0;
}

/* Точки списков */
.priorities-list,
.examples-list,
.team-list,
.hero-filter,
.portfolio-list,
.contacts-item,
.nav-list,
.team-icon-list,
.clients-list,
.socials-link-list,
.contacts-footer {
  list-style: none;
}

/* Подчёркивание */
.nav-logo,
.nav-logo-footer,
.nav-pages,
.link,
.tel,
.link-list,
.footer-link,
.footer-tel {
  text-decoration: none;
}

/* Контейнеры */
.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  width: 1200px;
}

/* Хедер */
/* .header {
  background-color: var(--primary-white-color);
} */

.container.header {
  display: flex;

  border-bottom: 1px solid #ececec;
}

.nav {
  display: flex;
}

.nav-pages:hover {
  color: var(--accent-color);
}

.nav-pages:focus {
  color: var(--accent-color);
}

.nav-logo:hover {
  color: var(--accent-color);
}

.nav-logo:focus {
  color: var(--accent-color);
}

.link:hover {
  color: var(--accent-color);
}

.tel:hover {
  color: var(--accent-color);
}

.link:focus {
  color: var(--accent-color);
}

.tel:focus {
  color: var(--accent-color);
}

.nav-list {
  display: flex;
}

.nav-item {
  margin: 32px 0;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-pages {
  color: var(--title-text-color);
  letter-spacing: 0.02em;
  font-weight: 500;
}

.nav-pages:not(:last-child) {
  margin-right: 50px;
}

.contacts {
  display: flex;
}

.contacts .contacts-item {
  display: flex;
  align-items: center;
  margin-left: 301px;
}

.contacts .contacts-list:not(:last-child) {
  margin-right: 30px;
}

.contacts .link {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}
.contacts .contacts-icon {
  fill: currentColor;
}

.contacts-icon {
  margin-right: 10px;
}

.link,
.tel {
  display: inline-block;
  margin: 32px 0;
  color: var(--primary-text-color);
  letter-spacing: 0.02em;
  font-weight: 500;
}

.nav-logo {
  margin-right: 90px;
}

.nav-logo,
.nav-logo-footer {
  display: inline-block;
  margin-top: 24px;
  margin-bottom: 25px;
  font-family: raleway;
  font-size: 26px;
  font-weight: 700;
  color: var(--accent-color);
}

.nav-logo-half {
  color: var(--title-text-color);
}

/* Герой */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: #2f303a;
  background-image: url(../img/business.png);
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  font-size: 44px;
  color: var(--primary-white-color);
  line-height: 1.36;
  font-weight: 900;
  letter-spacing: 0.06em;
}

.hero-business-button {
  display: inline-block;
  min-width: 200px;
  padding: 10px 32px;
  /* margin-bottom: 210px; */
  border: 0;
  border-radius: 4px;
  color: var(--primary-white-color);
  font-size: 16px;
  background-color: var(--accent-color);
  letter-spacing: 0.06em;
  line-height: 1.88;
  font-weight: 700;
  cursor: pointer;
}

.hero-business-button:hover {
  background-color: var(--buton-hover-color);
}

.hero-business-button:focus {
  color: var(--primary-white-color);
}
/* Наши приоритеты */

.priorities {
  padding-top: 94px;
  padding-bottom: 0;
}

.priorities-container {
  display: flex;
}

.priorities-list {
  display: flex;
}

.title-prioritietes {
  display: none;
}

.title {
  margin-bottom: 50px;
  text-align: center;
  font-size: 36px;
  color: var(--title-text-color);
  font-weight: 700;
}

.subtitle {
  display: flex;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-size: 14px;
  font-weight: 700;
}

.priorities-item {
  max-width: 270px;
  margin-right: 30px;
}
.priorities-item:last-child {
  margin: 0;
}

.icon {
  display: block;
  text-align: center;
  margin-bottom: 30px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  /* outline: 2px solid tomato; */
}

.icon-item {
  height: 120px;
}
.icon-clock::before {
  background-image: url(../img/svg/clock.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-diagram::before {
  background-image: url(../img/svg/diagram.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-astronaut::before {
  background-image: url(../img/svg/astronaut.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.title-descripction {
  display: flex;
  max-width: 270px;
  line-height: 1.71;
}

/* Наши работы */

/* .examples {
  padding-top: 94px;
  padding-bottom: 94px;
} */

.examples-list {
  display: flex;
}

.examples-item {
  margin-right: 30px;
  justify-items: center;
}

.examples-item:last-child {
  margin: 0;
}

/* Наша команда */
.team {
  /* padding-top: 94px; */
  background-color: var(--background-button-color);
}

/* .team-foto {
  margin-bottom: 30px;
} */

.team-list {
  display: flex;
}
.team-item {
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-item:last-child {
  margin: 0;
}

.team-container {
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  background-color: var(--primary-white-color);
}

.team-name {
  text-align: center;
  margin-bottom: 10px;
  font-size: 16px;
  min-width: 137px;
  color: var(--title-text-color);
  font-weight: 500;
}
.team-name-proffesion {
  text-align: center;
  font-size: 16px;
  margin-bottom: 16px;
}
.team-foto {
  display: block;
}

.team-name-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-icon-list {
  width: 44px;
  height: 44px;
}

.team-icon-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.team-icon-list:last-child {
  margin: 0;
}

.team-icon-link:hover .socials-icon,
.team-icon-link:focus .socials-icon {
  fill: var(--primary-white-color);
}

.team-icon-link:hover,
.team-icon-link:focus {
  background-color: var(--accent-color);
}

.socials-icon {
  fill: var(--background-social-links-color);
}

/* Наши клиенты */

.clients-item {
  display: flex;
  align-items: center;
  justify-items: center;
}

.clients-list:not(:last-child) {
  margin-right: 30px;
}

.clients-list {
  display: flex;
  flex-basis: 170px;
  height: 92px;
  align-items: center;
  justify-items: center;
  border-radius: 4px;
  border: 1px solid var(--background-social-links-color);
}

.clients-icon {
  margin-left: auto;
  margin-right: auto;
  fill: var(--background-social-links-color);
}

.clients-icon:hover,
.clients-icon:focus {
  fill: var(--accent-color);
}

/* Футер */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  font-style: normal;
  background-color: #2f303a;
}

.nav-logo-footer {
  /* margin-top: 60px; */
  margin-bottom: 20px;
}

.nav-logo-half-footer {
  color: var(--primary-white-color);
}

.address {
  color: var(--primary-white-color);
  margin-bottom: 9px;
  line-height: 1.71;
}

.logo-footer {
  display: block;
  margin-right: 70px;
}

.footer-link,
.footer-tel {
  display: inline-block;
  margin-bottom: 9px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.footer-link:hover {
  color: var(--accent-color);
}

.footer-link:focus {
  color: var(--accent-color);
}

.footer-tel:hover {
  color: var(--accent-color);
}

.footer-tel:focus {
  color: var(--accent-color);
}

.social {
  display: block;
  padding-top: 36px;
}

.join {
  color: var(--primary-white-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
}

.container-fotter {
  display: flex;
}

.socials-link-container {
  display: flex;
  margin-top: 20px;
}

.socials-link-item {
  display: flex;
}

.socials-link-list {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  background: rgba(255, 255, 255, 0.1);
}

.socials-link-list:hover,
.socials-link-list:focus {
  background-color: var(--accent-color);
}

.socials-link-icon {
  fill: var(--primary-white-color);
}

/* Портфолио */
/* Хедер */

/* Герой */
.hero-portfolio {
  text-align: center;
  /* background-color: var(--background-color); */
}

.hero-filter {
  margin-bottom: 50px;
}
.hero-item {
  display: inline-block;
  margin-right: 8px;
}

.hero-item:last-child {
  margin: 0;
}

.hero-item:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.hero-filter-button {
  min-width: 73px;
  padding: 6px 22px;
  border-radius: 4px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  color: var(--title-text-color);
  background-color: var(--background-button-color);
  cursor: pointer;
  letter-spacing: 0.03em;
}

.hero-filter-button:active {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.hero-filter-button:hover {
  color: var(--accent-color);
}

.hero-filter-button:focus {
  color: var(--accent-color);
}

.hero-title.portfolio {
  display: none;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.portfolio-item {
  display: flex;
  margin: 15px;
  width: 370px;
  border: 1px solid #eeeeee;
}

.portfolio-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item:hover,
.portfolio-item:focus {
  border: var(--accent-color);
}

.link-list-img {
  display: block;
}

.name-container {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  background-color: var(--primary-white-color);
}

.name-project {
  margin-bottom: 4px;
  text-align: left;
  color: var(--title-text-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}
.name-filter {
  text-align: left;
  font-size: 16px;
  line-height: 1.88em;
  color: var(--primary-text-color);
}
.current {
  color: var(--accent-color);
}
/* Футер */
.footer.portfolio {
  /* margin-top: 94px; */
}
.footter-address {
  font-style: normal;
}
